 @*L: new website footer.*@
<div class="container" id="footer" style="position:absolute; margin-bottom: 0px;">  
		<p style="font-family: Arial, Helvetica, sans-serif; font-size: x-small; text-align: center;">    
            <b>FollowMyPeer(c) 2014</b><br/>
            <a href="#">Privacy Policy</a> & <a href="#">Terms of Use</a><br/>
             Final Year Project under Dr Xu Yong Ping, ECE Department, <a href="www.nus.edu.sg">National University of Singapore</a>
</div>

