<div class="container" id="site_info" style="margin-top: 20px">
    <div class="box">
        <hr />
		<p style="font-family: Arial, Helvetica, sans-serif; font-size: x-small">FollowPeers(c) 2013, is a Final Year Project by Ankit & Lucas under Dr Xu Yong Ping, CEG Department, <a href="www.nus.edu.sg">National University of Singapore (NUS)</a>. Read our <a href="#">Privacy Policy</a> & <a href="#"> Terms of Use</a>.</p>
    </div>
</div>
<div class="clear"></div>
