

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prelogin Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reseach SNS">
    <meta name="author" content="Lucas&Ankit">

    <!-- Le styles -->
    <link rel="shortcut icon" href="Content/images/logo.ico" type="image/x-icon" />
    <link href="Content/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Germania+One' rel='stylesheet' type='text/css'>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  </head>

  <body>

    <div class="container" style="height:100%;">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </a>
            
          <a class="brand" href="." style="font-family:'Germania One';font-size:x-large">FollowMyPeers</a>
          <div class="nav-collapse collapse">
                @Html.Partial("_LogOnPartial")
              
          </div><!--/.nav-collapse -->
            
        </div>
      </div>
    </div>

    
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="Scripts/jquery.js"></script>
    <script src="Scripts/bootstrap.js"></script>

  </body>

</html>
