<head>
    <title>MultiInputBox</title>

    <style media="screen" type="text/css">
        #multi_input_tabs ul
        {
            padding: 0px;
            margin: 0px;
            margin-left: 0px;
            list-style-type: none;
        }

            #multi_input_tabs ul li
            {
                display: inline-block;
                clear: none;
                float: left;
                height: auto;
            }

                #multi_input_tabs ul li a
                {
                    position: relative;
                    display: block;
                    margin-left: 0px;
                    line-height: 24px;
                    padding-left: 10px;
                    padding-right: 10px;
                    background: none;
                    border-right: 1px solid #ccc;
                    width: auto;
                    color: #000000;
                    text-decoration: none;
                    font-weight: bold;
                }

                    #multi_input_tabs ul li a:hover
                    {
                        text-decoration: underline;
                    }

        #Content_Area
        {
            border: 1px solid #ccc;
            /* The following four lines are to make the top left and top right corners of the content area rounded. */
            -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
            -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
            /* end of rounded borders */
            /*padding: 0 15px;*/
            clear: both;
            overflow: hidden;
            line-height: 19px;
            position: relative;
            top: 20px;
            z-index: 5;
            height: auto;
            overflow: hidden;
        }
    </style>
</head>


<div id="Content_Area">
    <div id="initialtextbox">
        <input type="text" placeholder="Click to share..." onclick="showtabs()" style="width: 100%; border: none;" />
    </div>
    <div id="Form_Area" style="display: none;">

        <form action="/Profile/UpdateStatus" method="post">
            <div id="status_form" style="display: none;">
                <textarea id="statustext" name="message" style="width: 100%; resize: none; border: none;" placeholder="Share your thoughts..."></textarea>
            </div>

            <div id="publication_form" style="display: none;">
                <textarea name="publication_abstract" rows="3" cols="300" style="width: 100%;" placeholder="Add a brief abstract (optional)..."></textarea>
            </div>

            <div id="job_form" style="display: none;">
                <div id="job_role_select">
                    @{List<string> employment_role = new List<string>();
                      employment_role.Add("--Select Role--");
                      employment_role.Add("Prospective Employer");
                      employment_role.Add("Prospective Employee");
                    }
                    @Html.DropDownList("Employment Role", new SelectList(employment_role))
                </div>
                <div id="job_title">
                    <input name="jobtitle" type="text" value="" style="width: 75%;" placeholder="Title" />
                </div>
                <div id="job_description">
                    <textarea name="jobdescription" rows="3" cols="300" style="width: 100%;" placeholder="Description"></textarea>
                </div>
            </div>

            <div id="course_form" style="display: none;">
            </div>

            <div id="post_button">
                <input class="btn" type="submit" value="Post" />

            </div>

            <div id="upload_button">
                <a class="btn" href="/Profile/UploadFile"><i class="icon-upload"></i></a>
            </div>

        </form>


        <div id="tab1" style="display: none;">
            <div>
                <form action="/Profile/UpdateStatus" method="post">
                    <div class="input-append">

                        <textarea id="appendedInputButton" name="message" style="width: 100%; resize: none; border: none;" placeholder="Share your thoughts..."></textarea>

                        <div>
                            <input class="btn" type="submit" value="Post" />
                            <a class="btn" href="/Profile/UploadFile"><i class="icon-upload"></i></a>
                        </div>
                        <br />
                        <label type="checkbox">
                            <span class="label label-info" style="padding: 5px">Broadcast this post?</span>
                            <input type="checkbox" id="Ischecked" value="true" name="Ischecked" style="padding-left: 100px" />
                        </label>
                        <input type="hidden" name="Ischecked" value="false" />
                    </div>
                </form>
            </div>

        </div>

        <div id="tab2" style="display: none;">
            <form action="/Profile/UpdateStatus" method="post">
                <div>
                    <div class="input-append">
                        <textarea name="publication_abstract" rows="3" cols="300" style="width: 100%;" placeholder="Add a brief abstract (optional)..."></textarea>


                        @*<input id="publish_new" name="publication_abstract" type="text" value="" style="width: 78%;" placeholder="Add a brief abstract (optional)..." />*@
                        <div>
                            <input class="btn" type="submit" value="Publish" />
                            <a class="btn" href="/Profile/UploadFile" title="Upload File"><i class="icon-upload"></i></a>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="tab3" style="display: none;">
            <form action="/Profile/UpdateStatus" method="post">
                <div>
                    <div class="input-append">

                        <div>
                            @{List<string> employment_role = new List<string>();
                              employment_role.Add("--Select Role--");
                              employment_role.Add("Prospective Employer");
                              employment_role.Add("Prospective Employee");
                            }
                            @Html.DropDownList("Employment Role", new SelectList(employment_role))
                        </div>

                        <div>
                            <input id="job_title" name="jobtitle" type="text" value="" style="width: 75%;" placeholder="Title" />
                        </div>


                        <div>
                            <textarea name="job_description" rows="3" cols="300" style="width: 100%;" placeholder="Description"></textarea>
                        </div>

                        <div>
                            <input class="btn" type="submit" value="Post Job" />
                            <a class="btn" href="/Profile/UploadFile" title="Attach File"><i class="icon-upload"></i></a>

                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!--form area div ends-->
    <div id="multi_input_tabs" style="display: none;">
        <ul>
            <li id="li_tab1" onclick="tab('tab1')"><a>Status</a></li>
            <li id="li_tab2" onclick="tab('tab2')"><a>Publications</a></li>
            <li id="li_tab3" onclick="tab('tab3')"><a>Job Posting</a></li>
            <li id="li_tab4" onclick="tab('tab4')"><a>Courses</a></li>

        </ul>

    </div>


</div>
<!-- content area div ends-->







<script type="text/javascript">
    function tab(tab) {
        document.getElementById('Form_Area').style.display = 'none'; //hide all forms


        if (tab == 'tab1') {

        }

        document.getElementById('initialtextbox').style.display = 'none';
        document.getElementById('tab1').style.display = 'none';
        document.getElementById('tab2').style.display = 'none';
        document.getElementById('tab3').style.display = 'none';
        //document.getElementById('tab4').style.display = 'none';
        document.getElementById('li_tab1').setAttribute("class", "");
        document.getElementById('li_tab2').setAttribute("class", "");
        document.getElementById('li_tab3').setAttribute("class", "");
        //document.getElementById('li_tab4').setAttribute("class", "");
        document.getElementById(tab).style.display = 'block';
        document.getElementById('li_' + tab).setAttribute("class", "active");
    }

    function showtabs() {
        document.getElementById('multi_input_tabs').style.display = 'block';
        document.getElementById('initialtextbox').style.display = 'none';
        document.getElementById('tab1').style.display = 'block';
        document.getElementById('li_tab1').setAttribute("class", "active");

    }

    function hideinputtabs() {
        document.getElementById('multi_input_tabs').style.display = 'none';
    }
</script>

