<head>
    <title>MultiInputBox</title>
    <style media="screen" type="text/css">
        #multi_input_tabs ul
        {
            padding: 0px;
            margin: 0px;
            margin-left: 0px;
            padding-right: 100px;
        }

            #multi_input_tabs ul li
            {
                display: inline-block;
                height: auto;
            }

                #multi_input_tabs ul li a
                {
                    margin-left: 0px;
                    padding-left: 10px;
                    padding-right: 10px;
                    background: none;
                    width: auto;
                    color: #45aeea;
                    font-weight: bold;
                }

                    #multi_input_tabs ul li a:hover
                    {
                        text-decoration: underline;
                    }

        #Content_Area
        {
            border: 1px solid #ccc;
            /* The following four lines are to make the top left and top right corners of the content area rounded. */
            -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
            -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
            /* end of rounded borders */
            width: 100%;
            overflow: hidden;
            height: auto;
            padding: 0;
            margin: 0;
        }



        #job_role_dropdown
        {
            border-color: #45aeea;
            /* The following four lines are to make the top left and top right corners of the content area rounded. */
            -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
            -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
            /* end of rounded borders */
        }

        textarea
        {
            width: 100%;
            resize: none;
            border: none;
            outline: none;
            margin-left: 0;
            margin-right: 0;
            padding: 0;
        }
    </style>
</head>


<div id="Content_Area">
    <div id="initialtextbox">
        <input type="text" placeholder="Click to share..." onclick="showtabs()" style="width: 100%; border: none;" />
    </div>

    <div id="multi_input_tabs" style="display: none; border: none;">
        <ul>
            <li id="li_status" onclick="tab('status')"><a>Status</a></li>
            <li id="li_upload" onclick="tab('upload')"><a>Upload</a></li>
            <li id="li_publications" onclick="tab('publications')"><a>Publications</a></li>
            <li id="li_jobs" onclick="tab('jobs')"><a>Job Posting</a></li>
            <li id="li_courses" onclick="tab('courses')"><a>Courses</a></li>
        </ul>


    </div>


    <div id="Form_Area" style="border: none;">

        <div id="status_form" style="display: none;">
            <form action="/Profile/NewUpdateStatus" method="post">
                <textarea name="message" placeholder="Share your thoughts..."></textarea>
                <div class="box" style="padding-left: 1px;">
                    <input class="btn btn-primary" type="submit" value="Post" />

                    <div id="broadcast_check" style="display: none;">
                        <label type="checkbox">
                            <span class="label label-info" style="padding: 5px">Broadcast this post?</span>
                            <input type="checkbox" id="Ischecked" value="true" name="Ischecked" style="padding-left: 100px" />
                        </label>
                        <input type="hidden" name="Ischecked" value="false" />
                    </div>
                </div>
            </form>
        </div>

        <div id="upload_form" style="display: none;">

            @using (Html.BeginForm("UploadFile", "Profile", FormMethod.Post, new { @encType = "multipart/form-data" }))
            {
                <div class="box" style="padding-left: 1px;">
                    <input type='file' name='photo' id='photo' />
                    <i class="icon-upload"></i>
                    <input type="submit" name="submit" value="Save" style="position: relative; left: -20px; width: 30px; height: 30px; opacity: 0;">
                </div>
          
            }
        </div>


        <div id="publication_form" style="display: none;">

           <a class="btn btn-primary" href="@Url.Content("~/PublicationModel/Create/1")">
                <i class="icon-upload icon-white"></i>Add new</a>
           <a href="/PublicationModel/Index/">View Publications</a>

        </div>

        <div id="job_form" style="display: none;">
            <div id="job_role_select">
                <select id="job_role_dropdown">
                    <option selected value="initial_show" disabled>--Select Job Role--</option>
                    <option value="jobrole_employer">Employer</option>
                    <option value="jobrole_employee">Employee</option>
                </select>
            </div>

            <div id="job_title">
                <input name="jobtitle" type="text" value="" style="width: 75%; border: none; padding: 2px;" placeholder="Title" />
            </div>


            <div id="job_description">
                <textarea name="jobdescription" rows="3" cols="300" placeholder="Description"></textarea>
            </div>
        </div>

        <div id="course_form" style="display: none;">
            <div id="course_title">
                <input name="coursetitle" type="text" value="" style="width: 75%; border: none; padding: 2px;" placeholder="Course Title" />
            </div>

            <div id="course_description">
                <textarea name="coursedescription" rows="3" cols="300" placeholder="Description"></textarea>
            </div>
        </div>






    </div>
    <!--form area div ends-->


</div>
<!-- content area div ends-->


<script type="text/javascript">
    function tab(tab) {
        //document.getElementById('Form_Area').style.display = 'none'; //hide all forms
        document.getElementById('status_form').style.display = 'none';
        document.getElementById('upload_form').style.display = 'none';
        document.getElementById('publication_form').style.display = 'none';
        document.getElementById('job_form').style.display = 'none';
        document.getElementById('course_form').style.display = 'none';
        //document.getElementById('post_button').style.display = 'none';


        document.getElementById('li_status').setAttribute("class", "");
        document.getElementById('li_upload').setAttribute("class", "");
        document.getElementById('li_publications').setAttribute("class", "");
        document.getElementById('li_jobs').setAttribute("class", "");
        document.getElementById('li_courses').setAttribute("class", "");

        if (tab == 'status') {

            document.getElementById('status_form').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            document.getElementById('li_' + tab).setAttribute("class", "enabled");
            //document.getElementById('post_button').style.display = 'block';

        }

        if (tab == 'upload') {
            document.getElementById('upload_form').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            //document.getElementById('post_button').style.display = 'block';

        }

        if (tab == 'publications') {
            document.getElementById('publication_form').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            //document.getElementById('post_button').style.display = 'block';

        }

        if (tab == 'jobs') {
            document.getElementById('job_form').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            //document.getElementById('post_button').style.display = 'block';

        }

        if (tab == 'courses') {
            document.getElementById('course_form').style.display = 'block';
            document.getElementById('li_' + tab).setAttribute("class", "active");
            //document.getElementById('post_button').style.display = 'block';

        }

        else {
            return;
        }
    }



    function showtabs() {
        document.getElementById('initialtextbox').style.display = 'none';
        document.getElementById('multi_input_tabs').style.display = 'block';
        tab('status');
    }

    function hideinputtabs() {
        document.getElementById('multi_input_tabs').style.display = 'none';
    }

    function filechoose() {
        $(file);
    }
</script>

